.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.file-upload-section,
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-wrapper {
  width: calc(33.333% - 10px);
  margin-bottom: 15px;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
}
